<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Application second backend</title>
</head>
<body>
    <h1>Testing Application2</h1>
    <p>Testing Application is a simple application that allows you to test your skills in different areas. added other backend</p>
    <p>Choose a test from the list below:</p>
    <ul>
        <li><a href="/test/1">Test 1 twice</a></li>
        <li><a href="/test/2">Test 2 twice</a></li>
        <li><a href="/test/3">Test 3 twice</a></li>
    </ul>
    
</body>
</html>
